<div class="hero bg-base-200 min-h-screen">
     <div class="hero-content flex-col lg:flex-row-reverse">
       <div class="text-center lg:text-left">
         <h1 class="text-5xl font-bold">Login now!</h1>
         <p class="py-6">
          Welcome back to Travel Experts! Ready to dive into your next adventure? Log in to access your personalized travel dashboard, manage your bookings, and discover exclusive offers curated just for you. Whether you're revisiting favorite destinations or planning new explorations, we're here to make your travel experience seamless and exciting. Your journey is just a click away – let’s get started!
         </p>
       </div>
       <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
         <form class="card-body" method="post" action="/auth/login">
           <div class="form-control">
             <label class="label">
               <span class="label-text">Email</span>
             </label>
             <input type="email" placeholder="email" class="input input-bordered" required />
           </div>

           <div class="form-control">
             <label class="label">
               <span class="label-text">Password</span>
             </label>
             <input type="password" placeholder="password" class="input input-bordered" required />
             <label class="label">
               <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
             </label>
           </div>
           <div class="form-control mt-6">
             <button class="btn btn-primary">Login</button>
           </div>
         </form>
         <div class="divider divider-neutral">OR</div>
         <div class="flex justify-center my-2">
               <a class="btn btn-info" href="/auth/register">Don't have an account?</a>
         </div>
       </div>
     </div>
   </div>