<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= title %></title>
     <link rel="stylesheet" href="/assets/css/output.css">
</head>
<body>
     <div class="flex flex-col items-center justify-between h-[95vh] m-5 font-bold">
          <div></div>
          <h1 class="text-7xl">404</h1>
          <h2 class="text-3xl">Page not found</h2>
          <div>
               <h2>Let's go back to the fun stuff</h2>
               <h2>
                    <a href="#" id="go-back-link" class="font-extrabold underline hover:text-blue-500">Go back</a>
               </h2>
          </div>
     </div>

     <script>
          // Add event listener to the "Go back" link
          document.getElementById('go-back-link').addEventListener('click', function(event) {
               event.preventDefault(); // Prevent the default link behavior
               window.history.back(); // Go back to the previous page
          });
     </script>
</body>
</html>