<div class="min-h-screen hero bg-base-200">
    <div class="flex-col hero-content lg:flex-row-reverse">
      <img
        src="/assets/img/hero"
        class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Travel Experts</h1>
        <p class="py-6">
            Embark on unforgettable journeys with Travel Experts, your trusted partner in creating extraordinary travel experiences. Whether you're dreaming of a serene beach getaway, an adventurous mountain trek, or a cultural immersion in a vibrant city, we tailor each trip to your unique desires. Our dedicated team of seasoned travel professionals is committed to turning your travel dreams into reality, offering personalized itineraries, exclusive deals, and 24/7 support. Let Travel Experts guide you through the wonders of the world, ensuring every moment of your adventure is filled with discovery, comfort, and joy. Discover the extraordinary with us!
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>