<aside class="sticky top-0 flex flex-col justify-between h-screen px-4 py-6 overflow-y-auto rounded-r-lg w-60 bg-base-200">
    <div>
        <a class="btn btn-ghost" href="/">
            <img alt="Logo" src="/assets/img/logo.png" class="w-6" />
            Travel Experts
        </a>

        <ul class="px-0 menu">
            <li class="menu-title">Profile</li>
            <li>
                <a href="/profile/customer">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    Personal Information
                </a>
            </li>

            <li>
                <a>
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    Security
                </a>
            </li>

            <li>
                <a>
                    <ion-icon name="card-outline"></ion-icon>
                    Payment Details
                </a>
            </li>

            <li>
                <a>
                    <ion-icon name="document-lock-outline"></ion-icon>
                    Privacy
                </a>
            </li>

            <li class="menu-title">Customization</li>
            <li>
                <a>
                    <ion-icon name="finger-print-outline"></ion-icon>
                    Preferences
                </a>
            </li>

            <li>
                <a>
                    <ion-icon name="construct-outline"></ion-icon>
                    Configuration
                </a>
            </li>

            <li>
                <a>
                    <ion-icon name="mail-unread-outline"></ion-icon>
                    Email Notifications
                </a>
            </li>

            <li>
                <a>
                    <ion-icon name="people-outline"></ion-icon>
                    Other Travelers
                </a>
            </li>
        </ul>
    </div>
    <form class="" method="post" action="/auth/logout">
        <button class="block text-white btn btn-error">
            <ion-icon name="log-out"></ion-icon>
            Logout
        </button>
    </form>
</aside>
